<%- include('./partials/header') %>

    <div>
        <h1>EDIT</h1>
    </div>

    <div>

        <a href="/" >Home</a>
        <form action="/admin/edit/<%= article._id %>" method="post" class="edit__form">
            <input type="text" name="title" value="<%= article.title %>" />
            <input type="text" name="auth" value="<%= article.auth %>" />
            <textarea name="sanitizedHtml">
                <%- article.sanitizedHtml %>
            </textarea>
            <p><%= article.createdAt %></p>
            <p><%= article._id %></p>
            <button type="submit">EDIT</button>
        </form>

    </div>

<%- include('./partials/footer') %>