<%- include('./partials/header') %>

    <div>
        <h1>Hello World!</h1>
    </div>

    <div>

            <h1><%= article.title %></h1>
            <p><%= article.auth %></p>
            <p><%= article.createdAt %></p>
            <div>
                <%- article.sanitizedHtml %>
            </div>
            <a href="/" >Home</a>

    </div>

<%- include('./partials/footer') %>